/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding-bottom: 25px;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    display: inline;
    text-transform: uppercase;
}

li a {
    text-decoration: none;
    color: white;
}

.mn-right {
    float: right;
    padding-left: 25px;
    font-size: large;
}

.mn-left {
    float: left;
    padding-left: 25px;
    font-size: large;
}

.menu {
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 10px;
    background-color: rgb(97, 97, 97);
}

.content {
    text-align: left;
    line-height: 1.2;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 65px;
}

.content p {
    color: gray;
}

img {
    width: 85%;
    height: auto;
}

#main-content {
    background-color: white;
    padding-left: 65px;
    padding-top: 25px;
}

#footer {
    background-color: white;
    padding-left: 65px;
}